@using MvcProject.Models.Entity
@model List<Skills>

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Yeteneklerim</h2>
        <div class="subheading mb-3">Programlama Dilleri & Araçlar</div>
        @Html.Action("Tools")
        <div class="subheading mb-3">Becerilerim</div>
        <ul class="fa-ul mb-0">
            @foreach (var item in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    @item.Title
                </li>
            }
        </ul>
    </div>
</section>
